* {

    box-sizing: border-box;

}

nav {
    width: 100%;

    border: 50px;
    font-weight: 00;
    line-height: 20px;
    padding: 10px;
    position: fixed;
    background-color: white
}


nav li {
    list-style: none;
    display: inline-block;

}

nav .link ul li a {
    padding-left: 15px;
    text-decoration: none;
    color: black;
}

nav .CompanyName .Megavision {
    font-size: 1.25rem;
}

nav .link ul li a button {
    font-size: large;
}